@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
	box-sizing: border-box;
}

body { 
	margin: 0; 
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: black;
}

/* Navbar */

.navbar {
	width: auto;
	max-width: 100%;
	max-height: auto;
	color: white;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 25px;
}

#NC {
	background-color: black;
	color: white;
	text-transform: uppercase;
	padding: 15px;
}

.links {
	display: flex;
	margin: 10px;
}

.links a {
  background-color: black;
  border: #565656 solid 5px
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  color:white;
}

a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color:white;
}
a:hover{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

/* Home */

.homebackground {
	background: url(home.jpg) no-repeat;
	width: 90%;
	height: 70vh;
	background-size: cover;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	
}

.homequote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: white;
	font-weight:lighter;
	text-family: 'Papyrus', sans-serif;
}

/* About Me */

.aboutmeparent1 {
	width: auto;
	display: flex;
	flex-direction: row;
	color: white;
	justify-content: space-evenly;
	margin: 1% 5%;
	font-family: ;
}

.aboutmechild1 {
	min-width: 45%;
	font-size: 2rem;
	margin: 3%;
	padding: 3%;
}

.aboutmechild2 {
	min-width: 45%;
	font-size: 1.1rem;
	margin: 3%;
	padding: 3%;
}

#kyoto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/* Portfolio */

.portmain {
	margin: 1% 5%;
	width: 90%;
}

.porttitle {
	display: block;
	color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	margin: 1% 5%;
}

.port-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . .";
	color: white;
	margin: 5% 10%;
}

.portproject1 {
	background: url(project.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 10%;
}

.portproject2 {
	background: url(project2.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 10%;
}

.portproject3 {
	background: url(project3.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 10%;
}

.background-tint {
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}

/* Contact */

.contactmain {
	margin: 1% 5%;
	width: 90%;
}

.contacttitle {
	display: block;
	color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	margin: 1% 5%;
}

/* Footer */

.footer {
	display: flex;
	justify-content: center;
   	width: 100%;
   	background-color: black;
   	color: white;
}

/* Media queries */

@media screen and (max-width: 1052px) {
  	.navbar {
    display: flex;
	flex-direction: column;
  }
  
.aboutmeparent1 {
	  display: flex;
	  flex-direction: column;
  	}
	
.port-container {
		display: grid;
		  grid-template-columns: 1fr;
		  grid-template-rows: 1fr 1fr 1fr;
		  gap: 10px 10px;
		  grid-template-areas:
		    "."
		    "."
		    ".";
		}
	}
  
@media screen and (max-width: 777px) {
.links {
    display: flex;
	flex-direction: column;
}
}



	

	